#eclipse
.cproject
.project
.settings/

#project_specific
run.sh

#build
Makefile
POLARES-config
POLARES.in.out
POLARES.pc
config.log
config.status
doc/Makefile
examples/.deps/
examples/Makefile
examples/main_example
examples/multiple_random_E_test
examples/shiftQ2
examples/sigma_diff_Omega_l_test
libtool
share/Makefile
src/.deps/
src/Makefile
src/cuba-4.2/config.h
src/cuba-4.2/config.log
src/cuba-4.2/config.status
src/cuba-4.2/demo/.deps/
src/cuba-4.2/demo/.dirstamp
src/cuba-4.2/libtool
src/cuba-4.2/makefile
src/cuba-4.2/src/common/.deps/
src/cuba-4.2/src/common/makefile
src/cuba-4.2/src/cuhre/.deps/
src/cuba-4.2/src/cuhre/makefile
src/cuba-4.2/src/divonne/.deps/
src/cuba-4.2/src/divonne/makefile
src/cuba-4.2/src/makefile
src/cuba-4.2/src/suave/.deps/
src/cuba-4.2/src/suave/makefile
src/cuba-4.2/src/vegas/.deps/
src/cuba-4.2/src/vegas/makefile
src/cuba-4.2/stamp-h1
src/stamp-h1

